<div class="mt-20 border-indigo-600 border-0 h-screen flex flex-col items-center">
    <div class="flex flex-col items-center mt-20 mb-14">
        <img class="h-24 mb-6 min-w-fit" src="../../assets/logos/protract-high-resolution-logo-red-link.png">
        <p class="text-2xl text-center text-gray-600">Software that lets you beg the question<br> why react when you can
            protract.</p>
    </div>
    <br>
    <div>
        <!-- <div class="w-96 h-96 border-2 border-black text-center">Demo</div> -->
        <img src="../../assets/videos/Protract-demo-2.gif">
    </div>

</div>