@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,700;0,900;1,400&display=swap');
#medium-logo{
    filter: contrast(25%);
}

#medium-logo:hover{
    filter: contrast(100%);
}
.footer{
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
}