<section class="mt-20 md:mt-32 border-0 border-yellow-400">
    <div data-aos="fade-up" data-aos-duration="1000" data-aos-offset="200" data-aos-delay="100">
        <h1 class='text-center text-sm features text-red-600 my-3'>KEY FEATURES</h1>
        <h2 class="text-center text-3xl md:text-5xl md:mb-5">What can you do with the power of Protract?</h2>
    </div>
    <div data-aos="fade-up" data-aos-duration="500" data-aos-offset="200" data-aos-delay="300"
        class='flex justify-around flex-wrap featureContainer border-0'>
        <app-card-features *ngFor="let cardfeatures of cardFeatures" [cardFeatures]="cardfeatures"></app-card-features>
    </div>
    <div data-aos="fade-right" data-aos-duration="1000" data-aos-offset="800">
        <h2 class="border-0 text-3xl md:text-5xl text-center mt-20 md:mt-52 md:mb-20">Build your applications faster than ever before.<br>
            Reclaim time to spend on
            meaningful work.</h2>
    </div>
</section>