<section id="demo" class="mt-20 border-indigo-600 border-0 flex flex-col items-center">
    <div class="flex flex-col items-center mt-24 md:mt-40 mb-2 md:mb-16">
        <img data-aos="zoom-out-down" data-aos-duration="500" class="md:h-24 mb-4 px-2 md:px-0" src="../../assets/logos/protract-high-resolution-logo-red-link.png">
        <p data-aos="zoom-out-down" data-aos-duration="800" class="text-2xl text-center text-gray-600">Software to assist engineers<br> build their Angular applications faster.</p>
    </div>
    <br>
    <div class="inline-block justify-center relative">
        <img data-aos="zoom-out-up" data-aos-delay="600" data-aos-duration="500" class="rounded w-max p-2 md:p-0 inline-block" src="../../assets/videos/Protract-demo.gif">
    </div>
</section>