
<nav class="bg-white shadow py-4 px-3 md:px-8 md:flex md:items-center md:justify-between fixed w-full z-50">
    <div class="flex justify-between items-center">
        <a href="#top"><img class="h-7 inline cursor-pointer transition-none" src="../../assets/logos/protract-logo-red-link.png" ></a>
        <span class="cursor-pointer">
            <i class="pi pi-bars mx-2 md:hidden block text-3xl" (click)="menu()"></i>
        </span>
    </div>
    <ul id='nav-items' class="md:flex md:items-center z-[-1] md:z-auto md:static absolute bg-white w-full left-0 md:w-auto md:py-0 py-0 md:pl-0 pl-7 md:opacity-100 top-[-400px] transition-all ease-in duration-500">
        <li class="mx-4 my-6 md:my-0">
            <a href="#features" class="text-xl text-black hover:text-amber-500 duration-500">Features</a>
        </li>
        <li class="mx-4 my-6 md:my-0">
            <a href="#team" class="text-xl text-black hover:text-amber-500 duration-500">Team</a>
        </li>
        <li class="mx-4 my-6 md:my-0">
            <a href="https://github.com/oslabs-beta/Protract" target="_blank" class="text-xl text-black hover:text-amber-500 duration-500">Github</a>
        </li>
        <li class="mx-4 my-6 md:my-0">
            <a href="https://app.protract.dev/" target="_blank">
                <button id="app-link" class="text-xl rounded-md py-2 px-4 text-white duration-500">App</button>
            </a>
        </li>
    </ul>
</nav>
