<footer class="bg-gray-100 dark:bg-gray-900">
    <div class="container flex flex-col items-center justify-between mt-6 py-4 mx-auto space-y-4 sm:space-y-0 sm:flex-row">
        <a href="#">
            <img class="w-auto h-7" src="../../assets//logos//protract-logo-red-link.png" alt="">
        </a>
        <p class="text-sm text-gray-600 dark:text-gray-300">&copy; Protract 2023 | MIT License</p>
        <div class="flex -mx-2 items-center">
            <a href="https://medium.com/" target="_blank"><img id="medium-logo" class="h-10 mx-2"
                    src="../../assets/logos/medium.png"></a>

            <a href="https://www.linkedin.com/" target="_blank"><i
                    class="pi pi-linkedin mx-2 block text-3xl text-gray-600"></i></a>

            <a href="https://github.com/oslabs-beta/Protract" target="_blank"><i
                    class="pi pi-github mx-2 block text-3xl text-gray-600"></i></a>
        </div>
    </div>
</footer>