<section class="border-0 border-yellow-300 flex my-10 mb-32">
<div id="tab-items" class="w-1/2 border-0 border-red-300 m-4">
    <div id="tab1" class="tabs border-0 border-gray-400 p-3 mb-2 shadow-md rounded cursor-pointer bg-gray-200 scale-95 hover:scale-95 duration-300" (click)="tabSwitch('#tab1','#gif1')">
        <h3 class="text-2xl">Create Components</h3>
        <div class="text-gray-700"> Create custom components. Drag and drop HTML elements. See the dynamically generated code live update in the preview.</div>
    </div>
    <div id="tab2" class="tabs border-0 border-gray-400 p-3 mb-2 shadow-md rounded cursor-pointer hover:scale-95 duration-300" (click)="tabSwitch('#tab2','#gif2')">
        <h3 class="text-2xl">Interactive Hierarchy</h3>
        <div class="text-gray-700">Create and visualize parent and child relationships on component tree and file directory. Interactive nodes allow fast component manipulations.</div>
    </div>
    <!-- <div id="tab3" class="border border-gray-400 p-3 mb-2 shadow-md rounded cursor-pointer" (click)="tabSwitch('#tab3','#gif3')">
        <h3 class="text-2xl">Live Code Preview</h3>
        <div class="text-gray-700"> Create custom components. Add HTML elements. See the code in the editor.</div>
    </div> -->
    <div id="tab3" class="tabs border-0 border-gray-400 p-3 mb-2 shadow-md rounded cursor-pointer hover:scale-95 duration-300" (click)="tabSwitch('#tab3','#gif3')">
        <h3 class="text-2xl">Save Account Projects</h3>
        <div class="text-gray-700">Access projects anywhere with an account. Login to save projects and continue working on previous projects.</div>
    </div>
    <div id="tab4" class="tabs border-0 border-gray-400 p-3 shadow-md rounded cursor-pointer hover:scale-95 duration-300" (click)="tabSwitch('#tab4','#gif4')">
        <h3 class="text-2xl">Export Blueprints</h3>
        <div class="text-gray-700">Export your projects blueprints and copy directly into your Angular application to instantly setup.</div>
    </div>
</div>
<div class="w-1/2 border-0 border-green-300 flex justify-center items-center">
    <div id="gif-container" class="border-0 border-yellow-400 text-3xl rounded-xl m-2">
        <img id="gif1" class="rounded-lg" src="../../assets/videos/Create-demo.gif">
        <img id="gif2" class="hidden rounded-lg" src="../../assets/videos/Tree-demo.gif">
        <!-- <img id="gif3" class="hidden rounded-lg" src="../../assets/videos/Protract-demo-copy.gif"> -->
        <img id="gif3" class="hidden rounded-lg" src="../../assets/videos/Projects-demo.gif">
        <img id="gif4" class="hidden rounded-lg" src="../../assets/videos/Export-demo.gif">
    </div>
</div>
</section>