<div class="max-w-lg mx-auto my-10 bg-white rounded-lg shadow-xl p-5 px-20 bg-red-500">
    <img class="w-32 h-32 rounded-full mx-auto" src={{userData.picture}} alt="Profile picture">
    <h2 class="text-center text-2xl font-semibold mt-3">{{userData.name}}</h2>
    <p class="text-center text-gray-600 mt-1">Software Engineer</p>
    <div class="mt-6 pt-6 justify-between flex border-red-500 border-t-2">
        <a href="#"><i class="pi pi-linkedin mx-3 block text-5xl text-gray-600 hover:text-blue-700"></i></a>
        <a href="#"><i class="pi pi-github mx-3 block text-5xl text-gray-600 hover:text-gray-800"></i></a>
    </div>
</div>