<section id = "team">
    <div class="flex flex-col items-center justify-center">
        <h1 class='text-center text-sm features text-red-600 my-3'>TEAM</h1>
        <h2 class="text-center text-5xl mb-5">Meet the team</h2>
    </div>
    <div class = "flex justify-around flex-wrap">
        <app-card 
            *ngFor = "let user of userData"
            [userData] = "user">
        </app-card>
    </div>
</section>


<!-- 
<section id="team">
    <div class="flex flex-col items-center justify-center">
        <h3 class="text-xs text-red-600 font-bold mb-2">TEAM</h3>
        <h2 class="text-4xl font-bold">Meet the team</h2>
    </div>
    <div class="flex justify-around flex-wrap">
        <app-card 
            *ngFor = "let user of userData"
            [userData] = "user">
        </app-card>
    </div>
</section> -->