@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,700;0,900;1,400&display=swap');

.team{
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    background:linear-gradient(180deg, transparent 60%, #25C9D4 60%);
    width: 18.5rem;
    margin: auto;
    line-height: 1.2;

}