<div class="max-w-lg mx-auto my-10 bg-white rounded-lg shadow-xl p-5 px-20 bg-red-500">
    <img class="w-32 h-32 rounded-full mx-auto" src="../../../assets/profile-pic/Don.jpg" alt="Profile picture">
    <h2 class="text-center text-2xl font-semibold mt-3">{{user}}</h2>
    <p class="text-center text-gray-600 mt-1">Software Engineer</p>
    <div class="mt-6 py-6 border-t justify-center flex">
        <a href="https://www.linkedin.com/" target = "_blank" class = "anchor">
          <img src="../../../assets/icons/linkedin.png" alt="Linkedin" class = "icon">
        </a>
        <a href="https://github.com/" target = "_blank">
          <img src= "../../../assets/icons/github-mark.png" alt="Github" class = "icon">
        </a>
    </div>
</div>

