<section id = "team">
    <div data-aos-offset="800" data-aos="fade-up" class="flex flex-col items-center justify-center">
        <h1 class='text-center text-sm features text-red-600 my-3'>TEAM</h1>
        <h2 class="text-center text-4xl md:text-5xl md:mb-5">Meet the team</h2>
    </div>
    <div data-aos-offset="800" data-aos="fade-up" class = "flex justify-around flex-wrap">
        <app-card 
            *ngFor = "let user of userData"
            [userData] = "user">
        </app-card>
    </div>
</section>
